/* font-family: 'Open Sans', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Barlow', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Crimson Text', serif;
*/

/* ------------ Text styling ------------  */
h1,
h5 {
    font-family: 'Open Sans', sans-serif;
    color: #F2F2F2;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #F2F2F2;
}

a:link {
    text-decoration: none;
    color: #A65233;
}

a:visited {
    text-decoration: none;
    color: #BF784E;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
    font-weight: bold;
}

/* ------------  Section styling ------------  */
header {
    background-color: #F2F2F2;
    background-image: url(../img/soul-bg-fade.png);
    background-size: cover;
}

section {
    padding: 40px;
    background-color: black;
}

footer {
    padding: 40px;
    background-color: #C7CCD9;
    text-align: center;
    font-size: 15px;
}

/* ------------  Class/ID styling ------------  */
.logo {
    display: block;
    margin: auto;
}

.choose {
    text-align: center;
    color: #F2F2F2;
}

#arrow {
    display: block;
    margin: auto;
    width: 3%;
}

.story-block {
    margin: auto;
    width: 70%;
    height: 300px;
    background-color: antiquewhite;
    padding: 100px 0;
    text-align: center;
}

.sb1 {
    background: url(../img/battle-back-home/veterans_header.jpg);
    background-size: cover;
}

.sb1 h1 {
    font-family: 'Merriweather', serif;
}

.sb1 p,
.sb2 p,
.sb3 p,
.sb4 p,
.sb5 p {
    width: 50%;
    margin: auto;
}

.sb2 {
    background: url(../img/spirituality-in-athens/religion-header-image.jpg);
    background-size: cover;
}

.sb2 h1 {
    font-family: 'Barlow', sans-serif;
}

.sb3 {
    background: url(../img/intentional-communities/homepage-header.jpg);
    background-size: cover;
}

.sb3 h1 {
    font-family: 'Playfair Display', serif;
}

.sb4 {
    background: url(../img/a-long-road/MedicalAccess_HeaderImage.png);
    background-size: cover;
}

.sb4 h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.sb5 {
    background: url(../img/lore-in-appalachia/lore-background.jpg);
    background-size: cover;
}

.sb5 h1 {
    font-family: 'Crimson Text', serif;
}

/* ------------  Credits Page ------------  */
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}

nav ul {
    width: 100%;
    list-style: none;
    justify-content: flex-end;
}

ul {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    justify-content: flex-end;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
    padding-left: 0;
    color: white;
}

ul span {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: white;
    margin-bottom: 0;
}

.padding-bottom {
    padding-bottom: 40px;
}


/* ------------  Media queries ------------  */
@media screen and (max-width: 1100px) {
    header {
        padding: 20px;
    }
}

@media screen and (max-width: 356px) {
    header {
        padding: none;
    }

    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}