/* font-family: 'Open Sans', sans-serif;
*/

/* ------------ Text styling ------------  */
h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}


h5 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}


p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(0, 0%, 15%);
}

a:link {
    text-decoration: none;
    color: #A65233;
}

a:visited {
    text-decoration: none;
    color: #BF784E;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
}

a:active {
    text-decoration: underline;
    font-weight: bold;
}

/* ------------  Section styling ------------  */
header {
    padding: 40px;
    background-color: #F2F2F2;
    background-image: url(../img/soul-bg.jpg);
    background-size: cover;
}

section {
    padding: 40px;
    background-color: #F2F2F2;
}

footer {
    padding: 40px;
    background-color: #C7CCD9;
}

/* ------------  Class/ID styling ------------  */
.logo {
    display: block;
    margin: auto;
    width: 20%;
}

.explainer {
    padding: 100px 200px;
}

#choose {
    text-align: center;
    color: #090526;
}

.main-content {
    padding: 10px;
}

.story-block {
    margin: auto;
    width: 70%;
    height: 300px;
    background-color: antiquewhite;
    padding: 100px 0;
    text-align: center;
}

.sb1 {
    background: url(../img/veterans/veterans_header.jpg);
    background-size: cover;
}

.sb2 {
    background: url(../img/religion/religion-header-image.jpg);
    background-size: cover;
}

.sb3 {
    background: url(../img/intentional-communities/homepage-header.jpg);
    background-size: cover;
}

.sb4 {
    background: url(../img/medical-access/MedicalAccess_HeaderImage.png);
    background-size: cover;
}

.sb5 {
    background: url(../img/lore/lore-background.jpg);
    background-size: cover;
}

/* ------------  Credits Page ------------  */
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
    padding-bottom: 10px;
}

nav ul {
    width: 100%;
    list-style: none;
    justify-content: flex-end;
}

ul {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    justify-content: flex-end;
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
    padding-left: 0;
    color: #000
}

ul span {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #000;
    margin-bottom: 0;
}

.padding-bottom {
    padding-bottom: 40px;
}


/* ------------  Media queries ------------  */
@media screen and (max-width: 1100px) {
    header {
        padding: 20px;
    }

    .explainer {
        padding: 50px 150px;
    }
}

@media screen and (max-width: 600px) {
    header {
        padding: none;
    }

    .explainer {
        padding: none;
    }

    h2 {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    ul {
        text-align: center;
    }

}